* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





:root {
  --primary: #1173d4;
  --primary-dark: #0a3;

  --card-bg: #4b87ef;
}



body {
  font-family: system-ui;
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

article {
  background-color: var(--card-bg);
  padding: 2rem;
  margin-bottom: 16px;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

  svg {
    color: var(--primary-light);
    background: rgba(82, 246, 255, 0.3);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    padding: 16px;
  }

  p {
    color: var(--text-muted);
  }

  h3 {
    font-weight: 500;
  }
}


main > section:nth-child(2) > div > div:first-child > p {
  font-size: 1.125rem;
  color: var(--text-muted);
  max-width: 42rem;
  margin: 0 auto;
}

main > section:nth-child(2) footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}
